.posts-wrapper .post {
    display: grid;

    width: 100%;

    grid-template-columns: 1fr 12fr;
    grid-template-rows: 1fr auto 1fr;

    margin: 10px 0px; 

    grid-template-areas: 
    "post-sidebar post-title"
    "post-sidebar post-body"
    "post-sidebar post-footer";

    background-color: white;
}

.posts.wrapper .post:hover {
    cursor: pointer;
}

.posts-wrapper .post .post-sidebar {
    grid-area: post-sidebar;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 5px;
    background-color: rgb(245, 245, 245);
}

.posts-wrapper .post-sidebar > svg{
    color: rgb(130, 130, 130);
}

.posts-wrapper .post-sidebar > svg:hover {
border-radius: 2px;

    background-color: rgb(200, 200, 200); 
}

.posts-wrapper .post-sidebar > .update:hover {
    color: rgb(200, 0, 0);
}

.posts-wrapper .post-sidebar > .downvote:hover{
    color: var(--primary-color)
}

.posts-wrapper .post-sidebar > span {
    font-weight: 600;
    font-size: 13px;
}

.posts-wrapper .post .post-title {
    grid-area: post-title;
    display: flex;
    align-items: center; 
}

.posts-wrapper .post .post-body {
    grid-area: post-body;

    background-color: blue;
}

.posts-wrapper .post .post-footer {
    grid-area: post-footer;
    align-items: center;
    display: flex;
    padding-left: 10px;
    color: rgb(150, 150, 150);

    /* background-color: yellow; */
}



.posts-wrapper .post .post-title > img {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;

    
    border-radius: 50%;
}

.posts-wrapper .post .post-title > .subreddit-name {
    font-weight: 600;
    font-size: 13px;
}

.posts-wrapper .post .post-title > .subreddit-name:hover{
    text-decoration:underline;
}

.posts-wrapper .post .post-title > .post-user {
    font-size: 12px;
    padding-left: 5px;

    color: rgb(150, 150, 150);
}

.posts-wrapper .post .post-title > .underline:hover {
    text-decoration: underline;
}

.posts-wrapper .post .post-title > .button {
    margin: 10px;
    padding: 5px 8px;
    
    font-size: 11px;
}

.posts-wrapper .post .post-footer ion-icon{
    display:"flex";
    align-items: center;
} 

.post-wrapper .post .post-footer svg{
    font-size: 16px;
    margin: 0px 15px;
   }

.post-wrapper .post .post-footer span{
 font-size: 14px;
 font-weight: 600;
}
